<%= button_to "Create note", action: "new", controller: "note" %>

<form action="/search" method="get">
  <label for="search_input">Search Name or Address</label>
  <input id="search_input" type="text" name="search">
  <input type="submit" value="Submit">
</form>

<div id="mapid">

</div>


<% if @your_search.nil? %>
  <h2><u>WC Addresses</u></h2>
    <%# Address.where("address ~ '[0-9]WC'").each do |address| %>
<% else %>
  <ul>
    <% @your_search.each do |address| %>
    <li>
      <%= "<a href='/clues/#{address.id}' title='#{address.comma_name_swap}' #{"class='visited'" if address.visited}>#{address.to_s}</a>".html_safe %>
    </li>
    <% end %>
  </ul>
<% end %>
